<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Reviewer's comment v1</h1>

Hello Tyler!

I'm happy to review your project today  ðŸ™Œ

My name is **Gerardo Flores** and you can find me on the HUB as https://hub.tripleten.com/u/dea170e1

You can find my comments under the heading **Â«ReviewÂ»**. I will categorize my comments in green, blue or red boxes like this:

<div class="alert alert-success">
    <b>Success:</b> if everything is done successfully
</div>
<div class="alert alert-warning">
    <b>Remarks:</b> if I can give some recommendations or ways to improve the project
</div>
<div class="alert alert-danger">
    <b>Needs fixing:</b> if the block requires some corrections. Work can't be accepted with the red comments
</div>

Please don't remove my comments. If you have any questions, don't hesitate to respond to my comments in a different section.
<div class="alert alert-info"> <b>Student comments: </div>

<div style="border:solid green 2px; padding: 20px">
<b>Reviewer's comment v1</b>
    
<b>Overall Feedback</b> 


Hello! First of all, congratulations on submitting your very first project! ðŸŽ‰

You've done an excellent job on your Pandas project. The fundamental analyses and the utility functions you've developed are very well-executed. Hereâ€™s a more detailed look:

Youâ€™ll find specific feedback in the notebook in the **Reviewer's comment v1** sections.

---

**âœ… What's Working Exceptionally Well**

- Data Handling and Preparation: You proficiently loaded the dataset, performed initial inspections, and effectively cleaned the data by renaming columns and correcting specific entry errors (e.g., "In??s Prieto").

- Effective Data Filtering and Extraction: Your ability to filter the DataFrame for specific criteria (e.g., high IMDb scores, specific actor names) and extract unique sets of data (e.g., movie titles) was implemented perfectly.

- Robust Function Creation: You successfully developed several well-defined functions (`get_unique_top_movies`, `get_actors_for_title`, `categorize_imdb_score`) that correctly performed their intended tasks and handled edge cases.

---

There are no critical issues, so your project is accepted â€” great job! Congratulations once again on your journey and your first hands-on experience. This is just the beginning of many exciting milestones ahead, and Iâ€™m confident youâ€™ll continue to grow and excel with each step you take.

Lastly, Iâ€™d be grateful for your feedback on this code review. Itâ€™s a great help for me in making sure Iâ€™m explaining things clearly and supporting you well.
    
Keep up the fantastic work! ðŸª„

# Project: Data Analysis with Pandas

In this project, you will work with a dataset containing information about movies and shows. You will use the pandas library to read, clean, and analyze the data. This project will help you practice working with DataFrames, indexing, and data manipulation using pandas.


## Dataset Description

The dataset `movies_and_shows.csv` contains information about various movies and shows, including:

- **name**: The name of the actor or actress.
- **Character**: The character they played.
- **r0le**: The role type (e.g., ACTOR).
- **TITLE**: The title of the movie or show.
- **Type**: Whether it's a MOVIE or SHOW.
- **release Year**: The year it was released.
- **genres**: A list of genres the movie or show belongs to.
- **imdb sc0re**: The IMDb score of the movie or show.
- **imdb v0tes**: The number of votes on IMDb.

Here's a small sample of the dataset:

| name              | Character                         | r0le   | TITLE        |  Type | release Year | genres             | imdb sc0re | imdb v0tes |
|-------------------|-----------------------------------|--------|--------------|-------|--------------|--------------------|------------|------------|
| Robert De Niro    | Travis Bickle                     | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Jodie Foster      | Iris Steensma                     | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Albert Brooks     | Tom                               | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Harvey Keitel     | Matthew 'Sport' Higgins           | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Cybill Shepherd   | Betsy                             | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
It is always helpful for the reader to have additional information about project tasks. It gives an overview of what you are going to achieve in this project.

## Getting Started

Let's begin by setting up our environment.

### Importing Libraries

First, we need to import the necessary libraries.

**Instructions:**

- Import the `pandas` library, which we will use for data manipulation.

In [1]:
#Import the pandas library as 'pd'
import pandas as pd

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Well done! Required library has been imported.

We will load the dataset into a pandas DataFrame to begin our analysis.

**Instructions:**

- Read the `movies_and_shows.csv` file into a DataFrame. It is in the /datasets directory so the full path to include in the read_csv method will be "/datasets/movies_and_shows.csv"
- Display the first few rows of the DataFrame to get an initial look at the data.

**Hints:**

- Use `pd.read_csv()` to read the CSV file and store it in a variable called "df".
- Use the `.head()` method to display the first few rows.

In [2]:
# Read the dataset into a DataFrame

df = pd.read_csv('/datasets/movies_and_shows.csv')

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Data read.

In [3]:
# Display the first few rows of the DataFrame
print(df.head())

              name                Character   r0le        TITLE   Type  \
0   Robert De Niro            Travis Bickle  ACTOR  Taxi Driver  MOVIE
1     Jodie Foster            Iris Steensma  ACTOR  Taxi Driver  MOVIE
2    Albert Brooks                      Tom  ACTOR  Taxi Driver  MOVIE
3    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR  Taxi Driver  MOVIE
4  Cybill Shepherd                    Betsy  ACTOR  Taxi Driver  MOVIE

   release Year              genres  imdb sc0re  imdb v0tes
0          1976  ['drama', 'crime']         8.2    808582.0
1          1976  ['drama', 'crime']         8.2    808582.0
2          1976  ['drama', 'crime']         8.2    808582.0
3          1976  ['drama', 'crime']         8.2    808582.0
4          1976  ['drama', 'crime']         8.2    808582.0

Understanding the structure and content of your data is crucial before performing any analysis.

**Instructions:**

- Use the `.info()` method to get information about the DataFrame.
- Identify any issues with the Column names.

In [4]:
# Get information about the DataFrame and print the column names
print(df.columns)
print(df.info())

Index(['   name', 'Character', 'r0le', 'TITLE', '  Type', 'release Year',
       'genres', 'imdb sc0re', 'imdb v0tes'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85579 entries, 0 to 85578
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0      name       85579 non-null  object
 1   Character     85579 non-null  object
 2   r0le          85579 non-null  object
 3   TITLE         85578 non-null  object
 4     Type        85579 non-null  object
 5   release Year  85579 non-null  int64
 6   genres        85579 non-null  object
 7   imdb sc0re    80970 non-null  float64
 8   imdb v0tes    80853 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 5.9+ MB
None

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Great data overview.

## Task 1: Data Cleaning

Let's clean the data to fix issues with the column names

**Instructions:**
- Rename the columns to correct any errors and make them consistent.

**Hints:**

- Use the `.rename()` method to rename columns.
- Pass a dictionary to the `columns` parameter of `.rename()`, where the keys are the old column names and the values are the new names.
- Remove unnecessary whitespace from the column names.

In [5]:
# Rename columns to make them consistent and correct errors
df = df.rename(columns={'   name': 'Name', 'r0le':'Role', 'TITLE': 'Title', '  Type': 'Type', 'release Year': 'Release Year', 'genres': 'Genres', 'imdb sc0re': 'Imdb Score', 'imdb v0tes': 'Imdb Votes'})

In [6]:
# Print the updated column names to confirm changes
print(df.columns)
print(df.info())

Index(['Name', 'Character', 'Role', 'Title', 'Type', 'Release Year', 'Genres',
       'Imdb Score', 'Imdb Votes'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85579 entries, 0 to 85578
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          85579 non-null  object
 1   Character     85579 non-null  object
 2   Role          85579 non-null  object
 3   Title         85578 non-null  object
 4   Type          85579 non-null  object
 5   Release Year  85579 non-null  int64
 6   Genres        85579 non-null  object
 7   Imdb Score    80970 non-null  float64
 8   Imdb Votes    80853 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 5.9+ MB
None

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
The column names were updated correctly.

You can read more about different variable naming styles here: https://en.wikipedia.org/wiki/Snake_case

## Task 2: Correcting a Misspelled Name in the Data

While analyzing the dataset, you notice that some names are misspelled or contain special characters due to encoding issues. Accurate data is essential for reporting and recommendations, so letâ€™s correct one of these entries.

### Instructions

1. **Locate the Row with the Incorrect Name**:
   - Use `.loc[]` to retrieve the row where `name` is `"In??s Prieto"`.
   - You can locate a row based on the index (85576) and column name called "name".
   - Print the row to verify that you have the correct one.


2. **Correct the Name**:
   - Using `.loc[]`, update the `name` column for this row to "Ines Prieto."
   
3. **Verify the Correction**:
   - Print the row again to ensure that the name has been corrected.

In [7]:
# Locate the row with the incorrect name
print(df.loc[85576])

Name            In??s Prieto
Character              Fanny
Role                   ACTOR
Title                Lokillo
Type               the movie
Release Year            2021
Genres            ['comedy']
Imdb Score               3.8
Imdb Votes              68.0
Name: 85576, dtype: object

In [8]:
# Correct the name
df.loc[85576, 'Name'] = 'Ines Prieto'

In [9]:
# Verify the correction
print(df.loc[85576])

Name            Ines Prieto
Character             Fanny
Role                  ACTOR
Title               Lokillo
Type              the movie
Release Year           2021
Genres           ['comedy']
Imdb Score              3.8
Imdb Votes             68.0
Name: 85576, dtype: object

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Well done!

## Task 3: Finding All Movies and Shows Featuring Ines Prieto

Now that we've corrected the spelling of "Ines Prieto" in the dataset, let's find all the TV shows and movies she has acted in. This type of filtering is helpful for generating actor-specific profiles or building a list of their works.

### Instructions

1. **Filter by Actorâ€™s Name**:
   - Use a filtering condition to select rows where the `name` column is equal to `"Ines Prieto"`.
   
2. **Display Relevant Columns**:
   - From each matching row, retrieve only the `title`, `release_year`, `imdb_score`, and `genres` columns for a clear, concise output.

**Hint:**

To filter rows based on a specific value in a column, use a condition inside df[ ... ]. In this case, check if the name column equals "Ines Prieto". Then, select only the columns you need (like title, release_year, imdb_score, and genres) by specifying them in double brackets [ [ ... ] ].

In [10]:
# Filter rows where the actor's name is "Ines Prieto" and display the title, release_year, genres, and imdb_score
Ines_Prieto_df = df[df['Name'] == 'Ines Prieto']
Important_Ines_Prieto_df = Ines_Prieto_df[['Title', 'Release Year', 'Imdb Score', 'Genres']]

In [11]:
# Display the result
print(Important_Ines_Prieto_df)

         Title  Release Year  Imdb Score      Genres
85576  Lokillo          2021         3.8  ['comedy']

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Well done!

## Task 4: Finding Highly Rated Movies

We want to identify movies with an IMDb rating of at least **9.0**. This list could be helpful for curating a "Top Movies" section based on high ratings.

### Instructions

1. **Filter for High IMDb Scores**:
   - First, filter the DataFrame to include only rows where the `imdb_score` is greater than 9.0.

2. **Extract the Titles**:
   - From this filtered DataFrame, select only the `title` column, which contains the names of the movies.

3. **Get Unique Titles**:
   - Convert the resulting list of titles to a set to remove any duplicate titles. Using `set()` will keep only unique movie names.

   - *Example*: `unique_titles = set(high_score_titles)`

4. **Print the Unique Titles**:
   - Display the final set of unique movie titles to see the list of top-rated movies.

In [12]:


# Filter for movies with an IMDb score above 9.0
high_score_df = df[df['Imdb Score'] > 9.0]

# Extract the 'title' column from the filtered DataFrame
high_score_titles = high_score_df['Title']


# Get a unique set of titles
unique_titles = set(high_score_titles)

# Print the unique titles

print(unique_titles)

{'Our Planet', 'My Mister', 'The Last Dance', 'Major', 'Breaking Bad', 'Kota Factory', 'Avatar: The Last Airbender', 'Reply 1988'}

<div class="alert alert-success">
<b>Reviewer's comment v1</b>

You've filterd the data required data correctly.

## Task 5: Creating a Function to Find Unique Top-Rated Movies

In this task, weâ€™ll create a function to find unique movies with an IMDb score above a certain threshold that the user provides.

### Instructions

1. **Define the Function**:
   - Start by creating a function called `get_unique_top_movies` that takes one parameter, `min_score`.

2. **Filter the Data**:
   - Inside the function, create a new variable (e.g., `high_score_df`) that stores rows where the `imdb_score` is greater than or equal to `min_score`.

3. **Extract Movie Titles**:
   - In a new variable (e.g., `high_score_titles`), select the `title` column from the filtered DataFrame.

4. **Remove Duplicate Titles**:
   - Convert `high_score_titles` to a set using `set(high_score_titles)` to automatically remove duplicates, ensuring each title appears only once.

5. **Return the Unique Titles**:
   - Make sure the function returns the `unique_titles` set.

In [13]:
# Define the function
def get_unique_top_movies(min_score):
    # Filter for movies with IMDb score above min_score
    high_score_df = df[df['Imdb Score'] >= min_score]

    # Extract the 'title' column
    high_score_titles = high_score_df['Title']

    # Remove duplicate titles
    unique_titles = set(high_score_titles)

    # Return unique titles
    return unique_titles

In [14]:
# Test the function
print(get_unique_top_movies(9.0))

{'DEATH NOTE', 'Our Planet', 'My Mister', 'The Last Dance', 'Major', 'Breaking Bad', 'Attack on Titan', 'Leah Remini: Scientology and the Aftermath', 'Kota Factory', 'Arcane', 'Okupas', 'Avatar: The Last Airbender', 'Hunter x Hunter', 'Reply 1988'}

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Amazing work creating a function!

## Task 6: Creating a Function to Find Top Movies from a Specific Decade

Letâ€™s create a function to retrieve movies from a particular decade with high IMDb ratings. This function can be useful for generating lists of top-rated movies from different time periods.

### Instructions

1. **Define the Function**:
   - Create a function called `get_top_movies_from_decade` that accepts `decade_start` and `min_score` as parameters.

2. **Filter by Decade**:
   - Inside the function, filter the DataFrame to include only movies where `release_year` is within the specified decade.
   - *Hint*: You can achieve this by checking that `release_year` is between `decade_start` and `decade_start + 9`

3. **Filter by IMDb Score**:
   - Further filter this subset to include only movies where `imdb_score` is greater than or equal to `min_score`.

4. **Extract Movie Titles**:
   - From the resulting DataFrame, select the `title` column and remove duplicates using set().

5. **Return the List of Titles**:
   - Return the set of the best movies from that decade.

By completing this task, youâ€™ll have a function that returns unique, top-rated movies from a specified decade. This is useful for highlighting standout movies from different eras, perfect for â€œBest of the Decadeâ€ features!

In [15]:
# Define the function
def get_top_movies_from_decade(decade_start, min_score):
    # Filter for movies released within the decade
    specific_decade_df = df[(df['Release Year'] >= decade_start) & (df['Release Year'] <= decade_start + 9)]

    # Further filter by IMDb score
    high_score_specific_decade_df = specific_decade_df[specific_decade_df['Imdb Score'] >= min_score]

    # Extract and remove duplicate titles
    high_score_specific_decade_titles = high_score_specific_decade_df['Title']
    unique_titles = set(high_score_specific_decade_titles)
    # Return unique titles
    return unique_titles

In [16]:
# Test the function
print(get_top_movies_from_decade(1990, 8.5))

{'GoodFellas', 'Se7en', 'L??on: The Professional', 'Bill Hicks: Revelations', 'One Piece', 'Neon Genesis Evangelion', 'Forrest Gump', 'Cowboy Bebop'}

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Everything is correct here.


## Task 7: Creating a Function to List All Actors in a Given Title

Imagine you want to list all the actors in a specific movie or show. Letâ€™s create a function that takes a `title` as input and returns the names of all actors in that title, combined into a single string.


### Instructions

1. **Define the Function**:
   - Create a function called `get_actors_for_title` that accepts one parameter, `title`.
   
2. **Filter by Title and Role**:
   - Inside the function, filter the DataFrame to select rows where the `title` column matches the provided `title` parameter and the `role` column is `"ACTOR"` (to ensure you only retrieve actors).

3. **Extract Actor Names**:
   - From this filtered DataFrame, select only the `name` column to get the actor names.

4. **Combine Names into a Single String**:
   - Use `', '.join()` to combine the list of actor names into a single string, with each name separated by a comma.

5. **Return the Result**:
   - Return the resulting string of actor names.


This function will allow you to retrieve and format a list of actors for any movie or show title, which is useful for creating cast lists or displaying actors for specific titles.

In [17]:
# Define the function
def get_actors_for_title(title):
    # Filter for rows with the specified title and role as 'ACTOR'
    specific_title_df = df[df['Title'] == title]
    specific_title_with_actors_df = specific_title_df[specific_title_df['Role'] == "ACTOR"]
    # Extract the 'name' column for actor names
    specific_title_actor_names = specific_title_with_actors_df['Name']

    # Combine names into a single string
    specific_title_actor_names = ','.join(specific_title_actor_names)

    # Return the result
    return specific_title_actor_names

In [18]:
# Test the function
print(get_actors_for_title("Taxi Driver"))

Robert De Niro,Jodie Foster,Albert Brooks,Harvey Keitel,Cybill Shepherd,Peter Boyle,Leonard Harris,Diahnne Abbott,Gino Ardito,Martin Scorsese,Murray Moston,Richard Higgs,Bill Minkin,Bob Maroff,Victor Argo,Joe Spinell,Robinson Frank Adu,Brenda Dickson,Norman Matlock,Harry Northup,Harlan Cary Poe,Steven Prince,Peter Savage,Nicholas Shields,Ralph S. Singleton,Annie Gagen,Carson Grant,Mary-Pat Green,Debbi Morgan,Don Stroud,Copper Cunningham,Garth Avery,Nat Grant,Billie Perkins,Catherine Scorsese,Charles Scorsese,Odunlade Adekola,Ijeoma Grace Agu

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Everything is correct here!  The function is well-defined.

## Task 8: Creating a Function to Categorize Movies by IMDb Score

Letâ€™s categorize movies and shows based on their IMDb scores to provide a quick evaluation of their popularity or quality. Weâ€™ll create a function that takes in a `title` and returns a rating category based on the movie or showâ€™s IMDb score.

### Rating Categories

- **Excellent**: IMDb score of 9.0 or higher
- **Good**: IMDb score between 7.0 and 8.9
- **Average**: IMDb score between 5.0 and 6.9
- **Low**: IMDb score below 5.0

### Instructions

1. **Define the Function**:
   - Create a function called `categorize_imdb_score` that accepts one parameter, `title`.

2. **Filter by Title**:
   - Inside the function, filter the DataFrame to find the row where `title` matches the given title.

3. **Retrieve IMDb Score**:
   - If the title exists, retrieve the `imdb_score` for that movie or show.
   - If the title is not found, return `"Title not found"`.

4. **Categorize Score with `if-else`**:
   - Use `if-elif-else` statements to evaluate the `imdb_score` and return one of the rating categories based on the ranges provided.

5. **Return the Category**:
   - Return the appropriate category based on the score.

This function allows you to quickly categorize movies or shows by their IMDb score, which could be helpful for creating rating tags or recommending top-rated content.

In [19]:


# Define the function
def categorize_imdb_score(title):
    # Filter for the row with the specified title
    specific_title_df = df[df['Title'] == title]
    # Check if title exists
    
    if not specific_title_df.empty:
        
        imdb_score = specific_title_df['Imdb Score'].values[0] #returns value as a number
        
    else:
        return "Title not found"

    # Retrieved the IMDb score for the movie
    if imdb_score >= 9:
        result = "Excellent"
        
    elif (imdb_score >= 7) & (imdb_score <= 8.9):
        result = "Good"

    elif (imdb_score >= 5) & (imdb_score <= 6.9):
        result = "Average"

    else:
        result = "Low" #assuming score is less than 5

    return result
    # Categorize score using if-else and return the ranking accordingly

In [20]:
# Test the function
print(categorize_imdb_score("Taxi Driver"))

Good

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>

Amazing work ðŸ’«